@model IEnumerable<SBC.Models.Test>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Темы тестов </h2>

<p>
    @Html.ActionLink("Создать новую тему", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameThema)
        </th>
        <th></th>
    </tr>
    @if (Model != null) 
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(@Html.DisplayFor(modelItem => item.NameThema).ToString(), "Index", "Question", null, new { id = item.idTest })
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.idTest }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.idTest })
                </td>
            </tr>
        }
    }

</table>
