@model SBC.Models.Test.Test1.Test1_1

@{
    ViewBag.Title = "Проверочный тест: Многообразие органического мира, основные таксономические категории. Принципы построения названий организмов.";
}

<h2>Многообразие органического мира, основные таксономические категории. Принципы построения названий организмов.</h2>
<h3 class="text-center">Часть А.</h3>
<h3 style="color: red">@ViewBag.Result</h3>
@using (Html.BeginForm("Test1_1", "Test", FormMethod.Post))
{
    <div class="TestOne">
        <div class="container">
            1. Основная единица систематики живых организмов это:
            <ol type="1">
                <li>@Html.RadioButton("question1", "1")Вид</li>
                <li>@Html.RadioButton("question1", "2")Род</li>
                <li>@Html.RadioButton("question1", "3")Класс</li>
                <li>@Html.RadioButton("question1", "4")Царство</li>
                <li>@Html.RadioButton("question1", "5")Империя</li>
            </ol>
            <h3 style="color:red">@ViewBag.Answer1</h3>
        </div>
        <div class="container">
            2.  К империи доклеточные относится царство:
            <ol type="1">
                <li>@Html.RadioButton("question2", "1")Бактерии</li>
                <li>@Html.RadioButton("question2", "2")Животные</li>
                <li>@Html.RadioButton("question2", "3")Вирусы</li>
                <li>@Html.RadioButton("question2", "4")Протисты</li>
                <li>@Html.RadioButton("question2", "5")Грибы</li>
            </ol>
            <h3 style="color:red">@ViewBag.Answer2</h3>
        </div>
        <div class="container">
            3. Империя Клеточные включает надцарства: а) Прокариоты, б) Животные, в) Растения, г) Эукариоты, д) Грибы.
            <ol type="1">
                <li>@Html.RadioButton("question3", "1")б,в,д</li>
                <li>@Html.RadioButton("question3", "2")а,б,в</li>
                <li>@Html.RadioButton("question3", "3")а,г</li>
                <li>@Html.RadioButton("question3", "4")а,д</li>
                <li>@Html.RadioButton("question3", "5")только а</li>
            </ol>
            <h3 style="color:red">@ViewBag.Answer3</h3>
        </div>
        <div class="container">
            4. Все одноклеточные эукариотические организмы независимо от типа питания относятся к царству:
            <ol type="1">
                <li>@Html.RadioButton("question4", "1")Бактерии</li>
                <li>@Html.RadioButton("question4", "2")Животные</li>
                <li>@Html.RadioButton("question4", "3")Вирусы</li>
                <li>@Html.RadioButton("question4", "4")Протисты</li>
                <li>@Html.RadioButton("question4", "5")Грибы</li>
            </ol>
            <h3 style="color:red">@ViewBag.Answer4</h3>
        </div>
        <div class="container">
            5. Укажите названия таксонов, которые соответствуют царствам Эукариот: а) Грибы, б) Вирусы, в) Растения, г) Бактерии, д) Животные.
            <ol type="1">
                <li>@Html.RadioButton("question5", "1")а,б,д</li>
                <li>@Html.RadioButton("question5", "2")а,в,д</li>
                <li>@Html.RadioButton("question5", "3")б,г</li>
                <li>@Html.RadioButton("question5", "4")в,д</li>
                <li>@Html.RadioButton("question5", "5")а,г</li>
            </ol>
            <h3 style="color:red">@ViewBag.Answer5</h3>
        </div>
        <div class="container">
            6. Какие принципы положены К.Линнеем в основу систематики?
            a) бинарная номенклатура, б) борьба за существование, в) иерархичность, г) конкуренция, д) естественный отбор.
            <ol type="1">
                <li>@Html.RadioButton("question6", "1")а,в</li>
                <li>@Html.RadioButton("question6", "2")а,б,г</li>
                <li>@Html.RadioButton("question6", "3")б,д</li>
                <li>@Html.RadioButton("question6", "4")а,б,д</li>
                <li>@Html.RadioButton("question6", "5")а,б,в,д</li>
            </ol>
            <h3 style="color:red">@ViewBag.Answer6</h3>
        </div>
        <div class="container">
            7. Организм, изображенный на рисунке, относится к царству:
            <div class="row">
                <div class="col">
                    <ol type="1">
                        <li>@Html.RadioButton("question7", "1")Эукариоты</li>
                        <li>@Html.RadioButton("question7", "2")Прокариоты</li>
                        <li>@Html.RadioButton("question7", "3")Грибы</li>
                        <li>@Html.RadioButton("question7", "4")Животные</li>
                        <li>@Html.RadioButton("question7", "5")Растения</li>
                    </ol>
                    <h3 style="color:red">@ViewBag.Answer7</h3>
                </div>
                <div class="col">
                    <img src="~/Images/Гриб.png" height="300" width="300" />
                </div>
            </div>
        </div>
        <div class="container">
            8. Организм, изображенный на рисунке, относится к надцарству:
            <div class="row">
                <div class="col">
                    <ol type="1">
                        <li>@Html.RadioButton("question8", "1")Эукариоты</li>
                        <li>@Html.RadioButton("question8", "2")Прокариоты</li>
                        <li>@Html.RadioButton("question8", "3")Грибы</li>
                        <li>@Html.RadioButton("question8", "4")Животные</li>
                        <li>@Html.RadioButton("question8", "5")Растения</li>
                    </ol>
                    <h3 style="color:red">@ViewBag.Answer8</h3>
                </div>
                <div class="col">
                    <img src="~/Images/Лев.png" />
                </div>
            </div>
        </div>
        <div class="container">
            9. Классификацию живых организмов изучает:
            <ol type="1">
                <li>@Html.RadioButton("question9", "1")Ботаника</li>
                <li>@Html.RadioButton("question9", "2")Анатомия</li>
                <li>@Html.RadioButton("question9", "3")Физиология</li>
                <li>@Html.RadioButton("question9", "4")Систематика</li>
                <li>@Html.RadioButton("question9", "5")Экология</li>
            </ol>
            <h3 style="color:red">@ViewBag.Answer9</h3>
        </div>
        <div class="container">
            10. Главными задачами систематики как науки являются:
            <ol type="1">
                <li>@Html.RadioButton("question10", "1")Определение и описание видов живых организмов</li>
                <li>@Html.RadioButton("question10", "2")Проведение классификации живых организмов</li>
                <li>@Html.RadioButton("question10", "3")Создание эволюционной (филогенетической) системы органического мира</li>
                <li>@Html.RadioButton("question10", "4")Все перечисленное верно</li>
                <li>@Html.RadioButton("question10", "5")Все перечисленное неверно</li>
            </ol>
            <h3 style="color:red">@ViewBag.Answer10</h3>
        </div>
        <h3 class="text-center">Часть В.</h3>
        <div class="container">
            <ol type="1">
                <li>
                    Бинарную номенклатуру для классификации живых организмов создал
                    <div class="container">
                        Ответ:
                        @Html.TextBox("question11")
                        <h3 style="color:red">@ViewBag.Answer11</h3>
                    </div>
                </li>
                <li>
                    Основной единицей систематики является
                    <div class="container">
                        Ответ:
                        @Html.TextBox("question12")
                        <h3 style="color:red">@ViewBag.Answer12</h3>
                    </div>
                </li>
                <li>
                    Наиболее крупная единица систематики живых организмов-
                    <div class="container">
                        Ответ:
                        @Html.TextBox("question13")
                        <h3 style="color:red">@ViewBag.Answer13</h3>
                    </div>
                </li>
                <li>
                    Сходные роды объединяют в
                    <div class="container">
                        Ответ:
                        @Html.TextBox("question14")
                        <h3 style="color:red">@ViewBag.Answer14</h3>
                    </div>
                </li>
                <li>
                    Отряды животных объединяют в
                    <div class="container">
                        Ответ:
                        @Html.TextBox("question15")
                        <h3 style="color:red">@ViewBag.Answer15</h3>
                    </div>
                </li>
                <li>
                    Классы растений объединяют в
                    <div class="container">
                        Ответ:
                        @Html.TextBox("question16")
                        <h3 style="color:red">@ViewBag.Answer16</h3>
                    </div>
                </li>
                <li>
                    Типы животных объединяют в
                    <div class="container">
                        Ответ:
                        @Html.TextBox("question17")
                        <h3 style="color:red">@ViewBag.Answer17</h3>
                    </div>
                </li>
                <li>
                    Семейства животных объединяют в
                    <div class="container">
                        Ответ:
                        @Html.TextBox("question18")
                        <h3 style="color:red">@ViewBag.Answer18</h3>
                    </div>
                </li>
                <li>
                    Семейства растений объединяют в
                    <div class="container">
                        Ответ:
                        @Html.TextBox("question19")
                        <h3 style="color:red">@ViewBag.Answer19</h3>
                    </div>
                </li>
                <li>
                    К доклеточным формам относятся
                    <div class="container">
                        Ответ:
                        @Html.TextBox("question20")
                        <h3 style="color:red">@ViewBag.Answer20</h3>
                    </div>
                </li>
                <li>
                    Организмы, клетки которых не имеют оформленного ядра –
                    <div class="container">
                        Ответ:
                        @Html.TextBox("question21")
                        <h3 style="color:red">@ViewBag.Answer21</h3>
                    </div>
                </li>
                <li>
                    Организмы, клетки которых имеют оформленное ядро –
                    <div class="container">
                        Ответ:
                        @Html.TextBox("question22")
                        <h3 style="color:red">@ViewBag.Answer22</h3>
                    </div>
                </li>
                <li>
                    Запишите последовательность таксономических категорий растений в порядке иерархичности (начиная с наименьшего ранга), используя все подходящие элементы из предложенных:
                    <ol type="1">
                        <li>Вид </li>
                        <li>Порядок</li>
                        <li>Семейство</li>
                        <li>Отряд</li>
                        <li>Класс</li>
                        <li>Царство</li>
                        <li>Тип</li>
                        <li>Род</li>
                        <li>Отдел</li>
                    </ol>
                    <div class="container" title="ответ вводить без пробелов и только цифры. Пример: 123456789">
                        Ответ:
                        @Html.TextBox("question23")
                        <h3 style="color:red">@ViewBag.Answer23</h3>
                    </div>
                </li>
                <li>
                    Запишите последовательность таксономических категорий животных в порядке иерархичности (начиная с наименьшего ранга), используя все подходящие элементы из предложенных:
                    <ol type="1">
                        <li>Вид </li>
                        <li>Порядок</li>
                        <li>Семейство</li>
                        <li>Отряд</li>
                        <li>Класс</li>
                        <li>Царство</li>
                        <li>Тип</li>
                        <li>Род</li>
                        <li>Отдел</li>
                    </ol>
                    <div class="container" title="ответ вводить без пробелов и только цифры. Пример: 123456789">
                        Ответ:
                        @Html.TextBox("question24")
                        <h3 style="color:red">@ViewBag.Answer24</h3>
                    </div>
                </li>
            </ol>
            <input class="btn btn-success" type="submit" value="проверить результат" />
        </div>
    </div>
}
