@{
    ViewBag.Title = "Надцарство прокариоты: бактерии, цианобактерии. Строение и жизнедеятельность. Роль бактерий в природе, медицине и жизни человека. Основные заболевания, вызываемые бактериями.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Надцарство прокариоты: бактерии, цианобактерии. Строение и жизнедеятельность. Роль бактерий в природе, медицине и жизни человека. Основные заболевания, вызываемые бактериями.</h2>
<h3 class="text-center">Часть А.</h3>
<h3 style="color: red">@ViewBag.Result</h3>
@using (Html.BeginForm("Test3", "Courses", FormMethod.Post))
{
    <div class="TestOne">
        <div class="form-group">
            <div class="container">
                1. Бактерии обитают:
                <ol type="1">
                    <li>@Html.RadioButton("Test3.question1", "1")в живых и мертвых организмах</li>
                    <li>@Html.RadioButton("question1", "2")в других бактериях</li>
                    <li>@Html.RadioButton("question1", "3")в бактериофагах</li>
                    <li>@Html.RadioButton("question1", "4")в РНК-содержащих вирусах</li>
                    <li>@Html.RadioButton("question1", "5")в цианобактериях</li>
                </ol>
                <h3 style="color:red">@ViewBag.Answer1</h3>
            </div>
            <div class="container">
                2. Бактериальные клетки могут иметь форму:
                <ol type="1">
                    <li>@Html.RadioButton("question2", "1")конусовидную и в виде запятой</li>
                    <li>@Html.RadioButton("question2", "2")палочковидную и шаровидную</li>
                    <li>@Html.RadioButton("question2", "3")овальную и квадратную</li>
                    <li>@Html.RadioButton("question2", "4")квадратную и шаровидную</li>
                    <li>@Html.RadioButton("question2", "5")извитую и овальную</li>
                </ol>
                <h3 style="color:red">@ViewBag.Answer2</h3>
            </div>
            <div class="container">
                3. Палочковидные бактерии – это:
                <ol type="1">
                    <li>@Html.RadioButton("question3", "1") кокки</li>
                    <li>@Html.RadioButton("question3", "2") вибрионы</li>
                    <li>@Html.RadioButton("question3", "3") спирохеты</li>
                    <li>@Html.RadioButton("question3", "4") спириллы</li>
                    <li>@Html.RadioButton("question3", "5") бациллы</li>
                </ol>
                <h3 style="color:red">@ViewBag.Answer3</h3>
            </div>
            <div class="container">
                4. Шаровидные бактерии – это:
                <ol type="1">
                    <li>@Html.RadioButton("question4", "1") кокки</li>
                    <li>@Html.RadioButton("question4", "2") вибрионы</li>
                    <li>@Html.RadioButton("question4", "3") спирохеты</li>
                    <li>@Html.RadioButton("question4", "4") спириллы</li>
                    <li>@Html.RadioButton("question4", "5") бациллы</li>
                </ol>
                <h3 style="color:red">@ViewBag.Answer4</h3>
            </div>
            <div class="container">
                5. Шаровидные бактерии, образующие колонии в виде грозди винограда:
                <ol type="1">
                    <li>@Html.RadioButton("question5", "1") стрептококки</li>
                    <li>@Html.RadioButton("question5", "2") стафилококки</li>
                    <li>@Html.RadioButton("question5", "3") диплококки</li>
                    <li>@Html.RadioButton("question5", "4") тетракокки</li>
                    <li>@Html.RadioButton("question5", "5") сарцины</li>
                </ol>
                <h3 style="color:red">@ViewBag.Answer5</h3>
            </div>
            <div class="container">
                6. В состав клеточной стенки бактерии входит:
                <ol type="1">
                    <li>@Html.RadioButton("question6", "1") пектин</li>
                    <li>@Html.RadioButton("question6", "2") лигнин</li>
                    <li>@Html.RadioButton("question6", "3") хитин</li>
                    <li>@Html.RadioButton("question6", "4") целлюлоза</li>
                    <li>@Html.RadioButton("question6", "5") муреин</li>
                </ol>
                <h3 style="color:red">@ViewBag.Answer6</h3>
            </div>
            <div class="container">
                7. Генетический аппарат бактерии представлен:
                <ol type="1">
                    <li>@Html.RadioButton("question7", "1") белков и углеводов</li>
                    <li>@Html.RadioButton("question7", "2") кольцевой молекулой ДНК без белков-гистонов</li>
                    <li>@Html.RadioButton("question7", "3") линейной молекулой РНК</li>
                    <li>@Html.RadioButton("question7", "4") липидами и молекулой РНК</li>
                    <li>@Html.RadioButton("question7", "5") кольцевой молекулой ДНК с белками-гистонами</li>
                </ol>
                <h3 style="color:red">@ViewBag.Answer7</h3>
            </div>
            <div class="container">
                8. Нуклеоид – это:
                <ol type="1">
                    <li>@Html.RadioButton("question8", "1") мономер нуклеиновой кислоты</li>
                    <li>@Html.RadioButton("question8", "2") ДНК митохондрий</li>
                    <li>@Html.RadioButton("question8", "3") кольцевая молекула ДНК генетического аппарата бактерий</li>
                    <li>@Html.RadioButton("question8", "4") ДНК вирусов</li>
                    <li>@Html.RadioButton("question8", "5") РНК вирусов</li>
                </ol>
                <h3 style="color:red">@ViewBag.Answer8</h3>
            </div>
            <div class="container">
                9. Мезосомы – это:
                <ol type="1">
                    <li>@Html.RadioButton("question9", "1") компоненты слизистой капсулы</li>
                    <li>@Html.RadioButton("question9", "2") органоиды пищеварения</li>
                    <li>@Html.RadioButton("question9", "3") генетический аппарат бактерии</li>
                    <li>@Html.RadioButton("question9", "4") впячивания цитоплазматической мембраны</li>
                    <li>@Html.RadioButton("question9", "5") впячивания клеточной стенки</li>
                </ol>
                <h3 style="color:red">@ViewBag.Answer9</h3>
            </div>
            <div class="container">
                10. Мезосомы выполняют функции:
                <ol type="1">
                    <li>@Html.RadioButton("question10", "1") органоидов движения и ядра</li>
                    <li>@Html.RadioButton("question10", "2") митохондрий и комплекса Гольджи</li>
                    <li>@Html.RadioButton("question10", "3") митохондрий и рибосом</li>
                    <li>@Html.RadioButton("question10", "4") ядра и митохондрий</li>
                    <li>@Html.RadioButton("question10", "5") эндоплазматической сети и рибосом</li>
                </ol>
                <h3 style="color:red">@ViewBag.Answer10</h3>
            </div>
            <div class="container">
                11. В цитоплазме бактерий находятся органеллы:
                <ol type="1">
                    <li>@Html.RadioButton("question11", "1") митохондрии</li>
                    <li>@Html.RadioButton("question11", "2") комплекс Гольджи</li>
                    <li>@Html.RadioButton("question11", "3") эндоплазматическая сеть</li>
                    <li>@Html.RadioButton("question11", "4") ядро</li>
                    <li>@Html.RadioButton("question11", "5") рибосомы</li>
                </ol>
                <h3 style="color:red">@ViewBag.Answer11</h3>
            </div>
            <div class="container">
                12. По типу ассимиляции выделяют бактерии:
                <ol type="1">
                    <li>@Html.RadioButton("question12", "1") автотрофные </li>
                    <li>@Html.RadioButton("question12", "2") спорообразующие</li>
                    <li>@Html.RadioButton("question12", "3") аэробные</li>
                    <li>@Html.RadioButton("question12", "4") анаэробные</li>
                    <li>@Html.RadioButton("question12", "5") автогетеротрофные</li>
                </ol>
                <h3 style="color:red">@ViewBag.Answer12</h3>
            </div>
            <div class="container">
                13. По типу диссимиляции бактерии подразделяются на:
                <ol type="1">
                    <li>@Html.RadioButton("question13", "1") автотрофные </li>
                    <li>@Html.RadioButton("question13", "2") спорообразующие</li>
                    <li>@Html.RadioButton("question13", "3") аэробные</li>
                    <li>@Html.RadioButton("question13", "4") гетеротрофные</li>
                    <li>@Html.RadioButton("question13", "5") автогетеротрофные</li>
                </ol>
                <h3 style="color:red">@ViewBag.Answer13</h3>
            </div>
            <div class="container">
                14. Хемосинтезирующими являются бактерии:
                <ol type="1">
                    <li>@Html.RadioButton("question14", "1") анаэробные и гетеротрофные </li>
                    <li>@Html.RadioButton("question14", "2") клубеньковые и нитрифицирующие</li>
                    <li>@Html.RadioButton("question14", "3") пурпурные и цианобактерии</li>
                    <li>@Html.RadioButton("question14", "4") гнилостные и болезнетворные</li>
                    <li>@Html.RadioButton("question14", "5") железобактерии и бактерии брожения</li>
                </ol>
                <h3 style="color:red">@ViewBag.Answer14</h3>
            </div>
            <div class="container">
                15. Гетеротрофными являются бактерии:
                <ol type="1">
                    <li>@Html.RadioButton("question15", "1") анаэробные и гетеротрофные </li>
                    <li>@Html.RadioButton("question15", "2") клубеньковые и нитрифицирующие</li>
                    <li>@Html.RadioButton("question15", "3") пурпурные и цианобактерии</li>
                    <li>@Html.RadioButton("question15", "4") гнилостные и болезнетворные</li>
                    <li>@Html.RadioButton("question15", "5") железобактерии и бактерии брожения</li>
                </ol>
                <h3 style="color:red">@ViewBag.Answer15</h3>
            </div>
            <div class="container">
                16. Бактерии размножаются:
                <ol type="1">
                    <li>@Html.RadioButton("question16", "1") делением клетки надвое</li>
                    <li>@Html.RadioButton("question16", "2") спорами</li>
                    <li>@Html.RadioButton("question16", "3") мейозом</li>
                    <li>@Html.RadioButton("question16", "4") коньюгацией</li>
                    <li>@Html.RadioButton("question16", "5") копуляцией</li>
                </ol>
                <h3 style="color:red">@ViewBag.Answer16</h3>
            </div>
            <div class="container">
                17. Коньюгация бактерий – это:
                <ol type="1">
                    <li>@Html.RadioButton("question17", "1") способ полового размножения</li>
                    <li>@Html.RadioButton("question17", "2") способ бесполого размножения</li>
                    <li>@Html.RadioButton("question17", "3") половой процесс</li>
                    <li>@Html.RadioButton("question17", "4") обмен рибосомами</li>
                    <li>@Html.RadioButton("question17", "5") обмен участками молекул РНК</li>
                </ol>
                <h3 style="color:red">@ViewBag.Answer17</h3>
            </div>
            <div class="container">
                18. Споры бактерий выполняют функцию:
                <ol type="1">
                    <li>@Html.RadioButton("question18", "1") полового размножения</li>
                    <li>@Html.RadioButton("question18", "2") бесполого размножения</li>
                    <li>@Html.RadioButton("question18", "3") распространения и перенесения неблагоприятных условий</li>
                    <li>@Html.RadioButton("question18", "4") полового процесса</li>
                    <li>@Html.RadioButton("question18", "5") ядра</li>
                </ol>
                <h3 style="color:red">@ViewBag.Answer18</h3>
            </div>
            <div class="container">
                19. Способ обеззараживания продуктов путем нагревания до 65°С в течение 20-30 минут называется:
                <ol type="1">
                    <li>@Html.RadioButton("question19", "1") стерилизацией</li>
                    <li>@Html.RadioButton("question19", "2") вакуумной сушкой</li>
                    <li>@Html.RadioButton("question19", "3") дезинфекцией</li>
                    <li>@Html.RadioButton("question19", "4") автоклавированием</li>
                    <li>@Html.RadioButton("question19", "5") пастеризацией</li>
                </ol>
                <h3 style="color:red">@ViewBag.Answer19</h3>
            </div>
            <div class="container">
                20. Группа бактериальных клеток, сформировавшаяся в результате их деления, называется:
                <ol type="1">
                    <li>@Html.RadioButton("question20", "1") сорусом</li>
                    <li>@Html.RadioButton("question20", "2") колонией</li>
                    <li>@Html.RadioButton("question20", "3") мицелием</li>
                    <li>@Html.RadioButton("question20", "4") капсидом</li>
                    <li>@Html.RadioButton("question20", "5") талломом</li>
                </ol>
                <h3 style="color:red">@ViewBag.Answer20</h3>
            </div>
            <div class="container">
                21. Выберите структуры, присутствующие в бактериальной клетке: а) рибосомы, б) лизосомы, в) мезосомы, г) нуклеоид, д) ЭПС
                <ol type="1">
                    <li>@Html.RadioButton("question21", "1") а,в,г</li>
                    <li>@Html.RadioButton("question21", "2") а,б,в</li>
                    <li>@Html.RadioButton("question21", "3") б,в,г</li>
                    <li>@Html.RadioButton("question21", "4") а,в,д</li>
                    <li>@Html.RadioButton("question21", "5") б,в,д</li>
                </ol>
                <h3 style="color:red">@ViewBag.Answer21</h3>
            </div>
            <div class="container">
                22. Выберите бактериальное заболевание:
                <ol type="1">
                    <li>@Html.RadioButton("question22", "1") амебиаз</li>
                    <li>@Html.RadioButton("question22", "2") грипп</li>
                    <li>@Html.RadioButton("question22", "3") гонорея</li>
                    <li>@Html.RadioButton("question22", "4") аскаридоз</li>
                    <li>@Html.RadioButton("question22", "5") герпес</li>
                </ol>
                <h3 style="color:red">@ViewBag.Answer22</h3>
            </div>
            <div class="container">
                23. Выберите заболевания, вызываемые бактериями: а) корь, б) чума, в) столбняк, г) сифилис, д) грипп
                <ol type="1">
                    <li>@Html.RadioButton("question23", "1") а,б,в</li>
                    <li>@Html.RadioButton("question23", "2") а,д</li>
                    <li>@Html.RadioButton("question23", "3") б,в,г</li>
                    <li>@Html.RadioButton("question23", "4") б,г</li>
                    <li>@Html.RadioButton("question23", "5") в,г</li>
                </ol>
                <h3 style="color:red">@ViewBag.Answer23</h3>
            </div>
            <div class="container">
                24. Выберите заболевания, НЕ вызываемые бактериями: а) краснуха, б) сибирская язва, в) дизентерия, г) гонорея, д) оспа
                <ol type="1">
                    <li>@Html.RadioButton("question24", "1") а,б,в</li>
                    <li>@Html.RadioButton("question24", "2") а,д</li>
                    <li>@Html.RadioButton("question24", "3") б,в,г</li>
                    <li>@Html.RadioButton("question24", "4") б,г</li>
                    <li>@Html.RadioButton("question24", "5") в,г</li>
                </ol>
                <h3 style="color:red">@ViewBag.Answer24</h3>
            </div>
            <div class="container">
                25. Оболочка бактериальной клетки состоит из: а) цитоплазматической мембраны, б) клеточной стенки, содержащей целлюлозу, в) клеточной стенки, содержащей хитин, г) клеточной стенки, содержащей муреин, д) слизистой капсулы
                <ol type="1">
                    <li>@Html.RadioButton("question25", "1") а,б,в</li>
                    <li>@Html.RadioButton("question25", "2") а,д</li>
                    <li>@Html.RadioButton("question25", "3") а,г,д</li>
                    <li>@Html.RadioButton("question25", "4") б,г,д</li>
                    <li>@Html.RadioButton("question25", "5") в,г</li>
                </ol>
                <h3 style="color:red">@ViewBag.Answer25</h3>
            </div>
            <div class="container">
                26. Мезосомы в бактериальной клетке могут выполнять функции: а) митохондрий, б) пластид, в) ядра, г) лизосом, д) рибосом.
                <ol type="1">
                    <li>@Html.RadioButton("question26", "1") а,б,в</li>
                    <li>@Html.RadioButton("question26", "2") а,д</li>
                    <li>@Html.RadioButton("question26", "3") б,в,г</li>
                    <li>@Html.RadioButton("question26", "4") б,г</li>
                    <li>@Html.RadioButton("question26", "5") а,б,г</li>
                </ol>
                <h3 style="color:red">@ViewBag.Answer26</h3>
            </div>
            <div class="container">
                27. Укажите способы обезвреживания болезнетворных бактерий: а) дезинфекция, б) пастеризация, в) стерилизация, г) нейтрализация, д) автоклавирование.
                <ol type="1">
                    <li>@Html.RadioButton("question27", "1") а,б,в,д</li>
                    <li>@Html.RadioButton("question27", "2") а,д</li>
                    <li>@Html.RadioButton("question27", "3") б,в,г</li>
                    <li>@Html.RadioButton("question27", "4") б,г,д</li>
                    <li>@Html.RadioButton("question27", "5") в,г,д</li>
                </ol>
                <h3 style="color:red">@ViewBag.Answer27</h3>
            </div>
            <div class="container">
                28. Перечислите представителей цианобактерий: а) стафилококк, б) палочка Коха, в) носток, г) ривулярия, д) лингбия.
                <ol type="1">
                    <li>@Html.RadioButton("question28", "1") а,б,в</li>
                    <li>@Html.RadioButton("question28", "2") а,в,д</li>
                    <li>@Html.RadioButton("question28", "3") б,в,г</li>
                    <li>@Html.RadioButton("question28", "4") б,в,д</li>
                    <li>@Html.RadioButton("question28", "5") в,г,д</li>
                </ol>
                <h3 style="color:red">@ViewBag.Answer28</h3>
            </div>
            <div class="container">
                29. Цианобактерии могут быть: а) соединены в виде цепочки, б) в виде отдельных безъядерных клеток, в) в виде многоклеточного слоевища, г) в виде отдельных многоядерных клеток, д) в виде колоний.
                <ol type="1">
                    <li>@Html.RadioButton("question29", "1") а,б,в</li>
                    <li>@Html.RadioButton("question29", "2") а,б,д</li>
                    <li>@Html.RadioButton("question29", "3") б,в,г</li>
                    <li>@Html.RadioButton("question29", "4") б,г,д</li>
                    <li>@Html.RadioButton("question29", "5") в,г,д</li>
                </ol>
                <h3 style="color:red">@ViewBag.Answer29</h3>
            </div>
            <div class="container">
                30. Цианобактерии могут вступать в симбиоз с:
                <ol type="1">
                    <li>@Html.RadioButton("question30", "1") протистами </li>
                    <li>@Html.RadioButton("question30", "2") млекопитающими</li>
                    <li>@Html.RadioButton("question30", "3") мхами</li>
                    <li>@Html.RadioButton("question30", "4") грибами</li>
                    <li>@Html.RadioButton("question30", "5") покрытосеменными растениями</li>
                </ol>
                <h3 style="color:red">@ViewBag.Answer30</h3>
            </div>
            <h3 class="text-center">Часть В.</h3>
            <div class="container">
                <ol type="1">
                    <li>
                        К царству Бактерии относятся подцарства: Настоящие бактерии и
                        <div class="container">
                            Ответ:
                            @Html.TextBox("question31")
                            <h3 style="color:red">@ViewBag.Answer31</h3>
                        </div>
                    </li>
                    <li>
                        Клеточную стенку бактерии образует сложный углевод
                        <div class="container">
                            Ответ:
                            @Html.TextBox("question32")
                            <h3 style="color:red">@ViewBag.Answer32</h3>
                        </div>
                    </li>
                    <li>
                        Кокки, соединенные в цепочки, называются
                        <div class="container">
                            Ответ:
                            @Html.TextBox("question33")
                            <h3 style="color:red">@ViewBag.Answer33</h3>
                        </div>
                    </li>
                    <li>
                        Генетический аппарат бактерий называется
                        <div class="container">
                            Ответ:
                            @Html.TextBox("question34")
                            <h3 style="color:red">@ViewBag.Answer34</h3>
                        </div>
                    </li>
                    <li>
                        Генетический аппарат бактерий представляет собой кольцевую молекулу
                        <div class="container">
                            Ответ:
                            @Html.TextBox("question35")
                            <h3 style="color:red">@ViewBag.Answer35</h3>
                        </div>
                    </li>
                    <li>
                        Функции отсутствующих в бактериальной клетке органоидов выполняют
                        <div class="container">
                            Ответ:
                            @Html.TextBox("question36")
                            <h3 style="color:red">@ViewBag.Answer36</h3>
                        </div>
                    </li>
                    <li>
                        Зеленый пигмент бактерий называется
                        <div class="container">
                            Ответ:
                            @Html.TextBox("question37")
                            <h3 style="color:red">@ViewBag.Answer37</h3>
                        </div>
                    </li>
                    <li>
                        По типу ассимиляции бактерии подразделяются на … и ….
                        <div class="container">
                            Ответ:
                            @Html.TextBox("question38")
                            <h3 style="color:red">@ViewBag.Answer38</h3>
                        </div>
                    </li>
                    <li>
                        Бактерии, использующие для жизнедеятельности энергию окислительно-восстановительных реакций, называются ….
                        <div class="container">
                            Ответ:
                            @Html.TextBox("question39")
                            <h3 style="color:red">@ViewBag.Answer39</h3>
                        </div>
                    </li>
                    <li>
                        Атмосферный азот фиксируют клубеньковые бактерии, … и ….
                        <div class="container">
                            Ответ:
                            @Html.TextBox("question40")
                            <h3 style="color:red">@ViewBag.Answer40</h3>
                        </div>
                    </li>
                    <li>
                        Соли аммония окисляют до нитратов … бактерии.
                        <div class="container">
                            Ответ:
                            @Html.TextBox("question41")
                            <h3 style="color:red">@ViewBag.Answer41</h3>
                        </div>
                    </li>
                    <li>
                        Бактерии гниения и брожения называются ….
                        <div class="container">
                            Ответ:
                            @Html.TextBox("question42")
                            <h3 style="color:red">@ViewBag.Answer42</h3>
                        </div>
                    </li>
                    <li>
                        Сахара превращают в молочную кислоту … бактерии.
                        <div class="container">
                            Ответ:
                            @Html.TextBox("question43")
                            <h3 style="color:red">@ViewBag.Answer43</h3>
                        </div>
                    </li>
                    <li>
                        Поселяются в живых организмах и питаются за их счет … бактерии.
                        <div class="container">
                            Ответ:
                            @Html.TextBox("question44")
                            <h3 style="color:red">@ViewBag.Answer44</h3>
                        </div>
                    </li>
                    <li>
                        Бактерии, способные обитать и в кислородной, и в бескислородной средах называются ….
                        <div class="container">
                            Ответ:
                            @Html.TextBox("question45")
                            <h3 style="color:red">@ViewBag.Answer45</h3>
                        </div>
                    </li>
                    <li>
                        Половой процесс бактерии называется ….
                        <div class="container">
                            Ответ:
                            @Html.TextBox("question46")
                            <h3 style="color:red">@ViewBag.Answer46</h3>
                        </div>
                    </li>
                    <li>
                        При неблагоприятных условиях бактерии образуют покоящиеся стадии ….
                        <div class="container">
                            Ответ:
                            @Html.TextBox("question47")
                            <h3 style="color:red">@ViewBag.Answer47</h3>
                        </div>
                    </li>
                    <li>
                        Полное очищение от бактерий называется ….
                        <div class="container">
                            Ответ:
                            @Html.TextBox("question48")
                            <h3 style="color:red">@ViewBag.Answer48</h3>
                        </div>
                    </li>
                    <li>
                        Заболевания человека вызывают бактерии-….
                        <div class="container">
                            Ответ:
                            @Html.TextBox("question49")
                            <h3 style="color:red">@ViewBag.Answer49</h3>
                        </div>
                    </li>
                    <li>
                        Порчу продуктов питания вызывают … бактерии.
                        <div class="container">
                            Ответ:
                            @Html.TextBox("question50")
                            <h3 style="color:red">@ViewBag.Answer50</h3>
                        </div>
                    </li>
                </ol>
            </div>
            <input class="btn btn-success" type="submit" value="проверить результат" />
        </div>
    </div>
}
